In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("salary_data_cleard.csv")

In [4]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,Company_text,check_state,state1,python_yn,r_studio,spark,aws,excel
0,Data Scientist,$78K-$133K (Glassdoor est.),"Publishers Clearing House (PCH), located in Je...",3.3,Publishers Clearing House\n3.3,"Jericho, NY",-1,501 to 1000 Employees,1953,Company - Private,...,133,105.5,Publishers Clearing House\n,1,NY,1,0,0,1,1
1,Data Scientist,$78K-$133K (Glassdoor est.),Description\n\nJob Description:\n\nLeidos has ...,3.6,Leidos\n3.6,"McLean, VA",-1,10000+ Employees,1969,Company - Public,...,133,105.5,Leidos\n,1,VA,1,0,0,1,1
2,Senior Data Scientist Virtual Hiring Event,$78K-$133K (Glassdoor est.),The Zebra Hiring Event // Senior Data Scientis...,4.0,The Zebra\n4.0,"Austin, TX",-1,51 to 200 Employees,2012,Company - Private,...,133,105.5,The Zebra\n,1,TX,1,0,0,0,0
3,Data Scientist Virtual Hiring Event,$78K-$133K (Glassdoor est.),Orbis Operations Hiring Event!\n\nEvent Detail...,3.7,Orbis Operations\n3.7,"Fort Meade, MD",-1,201 to 500 Employees,-1,Company - Private,...,133,105.5,Orbis Operations\n,1,MD,1,0,0,0,0
4,Data Scientist Virtual Hiring Event,$78K-$133K (Glassdoor est.),LMI Hiring Event!\n\nEvent Details\nDate: Wedn...,4.2,LMI\n4.2,"Baltimore, MD",-1,1001 to 5000 Employees,1961,Nonprofit Organization,...,133,105.5,LMI\n,1,MD,1,0,0,0,0

In [16]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer salary', 'min_salary', 'max_salary', 'avg_salary',
       'Company_text', 'check_state', 'state1', 'python_yn', 'r_studio',
       'spark', 'aws', 'excel', 'job_simp', 'sniortiy'],
      dtype='object')

In [43]:
#funtion to select the job title we need
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data science' in title.lower():
        return 'data scientist'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'NA'
    
#funtion to select seniortiy level
def seniortiy(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'

    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'NA'
    
    
def remove(string): 
    return string.replace(" ", "")

In [18]:
df['job_simp'] =  df['Job Title'].apply(title_simplifier)

In [19]:
df.job_simp.value_counts()

data scientist      813
NA                  155
machine learning     15
data analyst         12
manager               4
director              1
Name: job_simp, dtype: int64

In [32]:
df['seniortiy'] =  df['Job Title'].apply(seniortiy)
df.seniortiy.value_counts()

NA        865
senior    135
Name: seniortiy, dtype: int64

  ca             235
  va             156
 ma               67
 md               65
 ny               52
 il               41
 dc               37
   tx             34
re mote           30
 wa               29
united states     26
 pa               20
 fl               18
  mo              17
 mi               17
  nj              17
 al               16
 oh               16
 ga               15
 nc               12
  ut              11
 co               10
 tn                9
 wi                8
 sc                6
 mn                6
  in               4
 va                4
 ct                4
 in                3
 ne                3
 or                2
 nv                2
 mo                2
 ms                1
 ri                1
 nj                1
 ak                1
 ia                1
 nm                1
Name: state1, dtype: int64

ca              235
va              160
ma               67
md               65
ny               52
il               41
dc               37
tx               34
remote           30
wa               29
unitedstates     26
pa               20
mo               19
fl               18
nj               18
mi               17
oh               16
al               16
ga               15
nc               12
ut               11
co               10
tn                9
wi                8
in                7
mn                6
sc                6
ct                4
ne                3
nv                2
or                2
ak                1
ri                1
nm                1
ms                1
ia                1
Name: state1, dtype: int64